extends layout

block bk_head
    link(rel='stylesheet', href='/styles/index.css')

block bk_content
  div.header
    span= title
    span#count
  div.content
    input#info(type='text')
    button#btn 添加评论
  script(src="/js/demo.js")
