.page-basedata-databook{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .left-menu{
        height: 100%;
        .menu-container{
            height: 100%;
            overflow-y: auto;
            box-shadow: 0 0 2px 0 rgba(0,0,0,0.15);
        }
    }
    .right-content{
        overflow-y: auto;
        padding-left: 12px;
    }
}