.page-system-viewsregister{
    overflow-y: auto;
    .menu-tree{
        width: 300px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 8px;
        border: 1px solid #eee;
        border-radius: 4px;
    }
}